---
import Layout from '../layouts/Layout.astro';
---

<Layout title="astro-vim-landing">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-8 text-nvim-blue">Cloudcode - void</h1>
    <div class="text-center">
      <p class="mb-4">version 0.0.3</p>
      <p class="mb-2">Cloudcode void, a dedicated branch aim to provide free service for everyone.</p>
      <div class="p-8 text-nvim-green text-left">
        <p>Click on <span class="text-nvim-blue"Panel</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to access the free panel</p>
        <p>Click on <span class="text-nvim-blue">Spawn</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to get new free server</p>
      </div>
    </div>
  </div>
</Layout>
