<header class="bg-nvim-bg text-nvim-fg py-1 px-4 text-sm">
  <div class="flex justify-between items-center">
    <span>Cloudcode Void</span>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:text-nvim-blue">Home</a></li>
        <li><a href="/about" class="hover:text-nvim-blue">About</a></li>
        <li><a href="https://panel-void.cloudcode.site" class="hover:text-nvim-blue">Panel</a></li>
      </ul>
    </nav>
  </div>
</header>
